.signup-container {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    padding: 40px 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
    background-image: url('https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg');
    background-size: cover; /* Adjust the image size */
    background-repeat: no-repeat;
     margin-top: 37px;

  }
  
  label {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  